.a{
    color: blue;
    font-size: 150px;
}
.b{
    color: red;
    font-size: 150px;
}
.c{
    color: rgb(212, 212, 12);
    font-size: 150px;
    
}
.d{
    color: blue;
    font-size: 150px;
}
.e{
    color: green;
    font-size: 150px;
}
.f{
    color: red;
    font-size: 150px;
}
.df{
    text-align: center;
}
.center{
    text-align: center;
}
.but{
    
}